#flash-messages {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

#flash-messages li {
    margin: 5px;
    border-radius: 2px;
    padding: 5px;
}

#flash-messages li.alert {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

#flash-messages li.success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

#flash-messages li.notice {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}