<!DOCTYPE html>
<html>
  <head>
    <title>Website Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= flash_messages %>
    <%= yield %>
    <%= render partial: 'shared/user' %>
  </body>
</html>
